.zemlya {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &__block {

        &__image {
            align-self: center;
            justify-self: center;
            max-width: 500px;
            border-radius: 30px;
            background-color: #F4F7FA;

            & img {
                box-shadow: 0 20px 20px 0 rgb(0 0 0 / 15%);
                border-radius: 30px;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &__list {
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 36px;
                line-height: 100%;
                color: #3C3C3C;
                margin: 1rem 0;
                max-width: 800px;

                & li {
                   list-style: none;
                    margin: 1rem;

                }
            }


        }
    }
}







