.footer {
  padding: 0 100px;
  display: grid;
  grid-template-columns: 2fr 7fr 4fr;
  align-items: center;
  height: 90px;
}
.footer__logo {
  background: url("../../assets/img/header/logo.svg");
  width: 120px;
  height: 60px;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: self-end;
  overflow: hidden;
  height: 4rem;
  min-width: max-content;

  & .social {
    width: 20px;
    height: 20px;
    display: flex;
    & .soc {color: rgb(39, 39, 139);}
  }
  
  & a {
    font-family: "Gotham Pro L", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1;
    color: #3c3c3c;
    text-decoration: none;
  }
  & > * {
    padding: 0 0.5em;
    font-family: "Gotham Pro L", sans-serif;
    color: #3c3c3c;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }
}

.navbar {
  padding: 0.3em 0;
  overflow: hidden;

  &.open {
    overflow: visible;
  }

  &__list {
    margin: 0;
    padding: 0 21px;
    list-style: none;
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: inherit;
    color: #3c3c3c;
  }


  &__item {
    padding: 0.1em 0;
    position: relative;
    font-family: "Gotham Pro L", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    display: inline-flex;
    align-items: baseline;
    color: #3c3c3c;
    background: inherit;
    z-index: 1;
    overflow: hidden;
    &:last-child {
        display: flex;
        flex-direction: column;
    }
    & a {
      font-family: "Gotham Pro L", sans-serif;
      font-weight: inherit;
      font-size: inherit;
      text-decoration: none;
      color: #3c3c3c;
    }

    & .ourContacts {
        display: flex;
        flex-direction: row;
    }

    &:hover {
      cursor: pointer;
      overflow: visible;
      & .arrow::before {
        transform: rotate(225deg) translate(0px, 0px);
      }

      & .navbar__sublist {
        width: auto;
        height: auto;
        visibility: visible;
      }
    }

    & + .navbar__item {
      margin-left: 20px;
    }
  }

  &__sublist {
    margin: 0;
    padding: 0.4em 0.2em;
    position: absolute;
    list-style: none;
    width: auto;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.2s;
    background-color: inherit;
    color: #3c3c3c;
    bottom: 1.2em;
    z-index: -1;
  }

  &__subitem {
    padding: 5px 2px;
    width: 10em;
    color: #3c3c3c;
  }
}

.arrow {
  margin-left: 5px;
  width: 6px;
  height: 5px;
  overflow: hidden;
  background: transparent;
  justify-content: center;
  align-items: flex-end;

  &::before {
    content: "";
    width: 3px;
    height: 3px;
    border-bottom: 1px solid #f4f7fa;
    border-right: 1px solid #f4f7fa;
    transform: rotate(45deg) translate(-1px, -1px);
  }
}

